@import '~bootstrap/scss/bootstrap';

.hidden {
  display: none;
}

.jumbo-content {
  margin-top: 4em;
  padding: 30px;
}

#sign-in-jumbotron {
  margin-top: 4em;
  padding: 30px;
}

#content {
  margin: 4em 0;
}

#content-2 {
  margin: 4em 0;
}

.row {
  margin-top: 4em;
}

.navbar {
  color: white;
}

#change-password {
  margin: 10px;
  cursor: pointer;
}

#sign-out {
  margin: 10px;
  cursor: pointer;
}

#logButton {
  color: white;
  margin-top: 15px;
}

#signUpButton, #signInButton {
  color: white;
}
